header.masthead {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 100px;
  position: relative;
  text-align: center;
  height: 130vh;
  transform-style: preserve-3d;
  line-height: 1;
  color: #fdfdfd;
}

header.masthead:before {
  animation: no-transform 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  content: "";
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("../img/header-bg.jpg") no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(2);
  z-index: -1;
}

.animate-pop-in {
  animation: no-transform 0.6s cubic-bezier(0, 0.4, 0.03, 1.5) forwards;
  opacity: 0;
  transform: translateY(4rem) scale(0);
}

header.masthead .intro-text {
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.8), 0 8px 13px rgba(0, 0, 0, 0.8),
    0 18px 23px rgba(0, 0, 0, 0.8);
}

header.masthead .intro-text .intro-lead-in {
  font-size: calc(0.5rem + 5.2vmin);
  font-style: italic;
  margin-bottom: 25px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  animation-delay: 0.6s;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  animation-delay: 0.8s;
}

/* Add delay to the first button */
.intro-text a.btn:nth-of-type(1) {
  animation-delay: 1s;
}

/* Add delay to the second button */
.intro-text a.btn:nth-of-type(2) {
  animation-delay: 1.4s;
}

.fade-in {
  animation: fadein 2s forwards;
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes no-transform {
  100% {
    opacity: 1;
    transform: none;
  }
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    /* padding-top: 300px;
    padding-bottom: 200px; */
  }
  header.masthead .intro-text .intro-lead-in {
    font-style: italic;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    /* line-height: 75px; */
    margin-bottom: 50px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
