.hidden {
    display: none;
}
section#services #btnHide{
    margin:auto;
    display:block;
}
.black-background {
    background-color:black !important;
}
iframe#googleForm {
    height:800em;
    width:100%;
}
nav#mainNav .dropdown-item.dropdown-list-item:hover,
nav#mainNav .dropdown-item.dropdown-list-item:focus,
nav#mainNav .dropdown-item.dropdown-list-item:active {
    background-color: #fed136;
}
/* 6/12/2019 Chris L, (Styles for the sidebar menu) *************/
#group-sorter-application-wrapper {
    display: flex;
    flex-direction: row;
}
.side-nav-menu-area {
    color: white;
    background-color: #212529;
    width: 100%;
    height: 100vh;
}
.mobile-icons {
    width: 50px;
    display: none;
}
#side-nav-list {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    padding: 20px 0 20px 0px;
    margin-top: 100px;
}
#side-nav-list div {
    padding-bottom: 10px;
    transition: .2s ease-in-out;
}
#side-nav-list div:hover {
    background-color: #464e57;
    border-right: 5px solid #fec503;
    cursor: pointer;
}
@media only screen and (max-width: 425px) {
    .side-nav-menu-area {
        width: 100%;
    }
    #side-nav-list h1 {
        display: none;
    }
    .mobile-icons {
        display: block;
        width: 50px;
        padding-bottom: 10px;
        margin: auto;
    }
    .mobile-icons:hover {
        cursor: pointer;
    }
    .course-name {
        display: none;
    }
}
/***************** 6/17/2019 Chris L, THE DISPLAYED CONTENT ***********************/
.displayed-content-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
/* Turning the row into a column */
@media (max-width: 1024px) {
    .displayed-content-area {
        flex-direction: column;
    }
}
.displayed-content-area h1 {
    text-align: center;
}
.displayed-content-area1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
/* Turning the row into a column */
@media (max-width: 1024px) {
    .displayed-content-area1 {
        flex-direction: column;
    }
}
.displayed-content-area1 h1 {
    text-align: center;
}
.displayed-columns {
    overflow: scroll;
    width: 100%;
    height: 100vh;
    padding: 10px;
}
.row {
    display: flex;
    justify-content: center;
}
.card-body {
    box-shadow: 0px 0px 15px 0px black !important;
    border: 2px solid black;
}
#full-time-wrapper {
    display: none;
}
#part-time-wrapper {
    display: none;
}
#html-full-time-Contents {
    display: none;
}
#html-part-time-Contents {
    display: none;
}
#js_full_time_Contents {
    display: none;
}
#js_part_time_Contents {
    display: none;
}
#react_full_time_Contents {
    display: none;
}
#react_part_time_Contents {
    display: none;
}
/**************************************************/

/*********************** Chris L END *********************************/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}
.footer{
    background-color: #DDDDDD;
    background-attachment: fixed;
    position: relative;
}
.heart{
    color: #FF3B30;
}
.footer .overlayer{
    background-color: rgba(27, 27, 27, 0.7);
    position: relative;
}
.footer .credits {
    padding: 20px 0 15px;
    text-align: center;
    color: #EEE;
}
.footer .credits a{
    color: #FFFFFF;
}

.fa-heart:before {
    content: "\f004";
}

.label1:after{
    display: block;
    white-space: pre;
    content:'Learn code \A (study groups)';
}
.label1:hover:after{
    display: block;
    content:'APPLY to a \A learning group';
}

.label2:after{
    display: block;
    white-space: pre;
    content:'build projects \A (remote teams)';
}
.label2:hover:after{
    display: block;
    content:'APPLY to a \A Cohort';
}
/*------------test------------------*/
.test {
    display: none;
}

.test2 {
    display: none;
}

.h {
    width: fit-content;;
}
/*--full time--*/
.Full-Time {
    cursor: pointer;
    font-size: 30px;
    width: fit-content;
    text-align: center;
    margin-left: 30%;
}
.Full-Time li{
    display: none;
    margin-top: 3px;
}

.Full-Time:hover li {
    display: block;
    background-color: #fec503
}
/*----part time---*/
.Part-Time {
    cursor: pointer;
    margin-top: 20px;
    font-size: 30px;
    width: fit-content;
    margin-left: 30%;
}
.Part-Time li{
    display: none;
    margin-top: 3px;
}

.Part-Time:hover li {
    display: block;
    background-color: #fec503
}