<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Link to custom js files and bootstrap files  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <!-- Link to custom css files and bootstrap files -->
    <link href="CSS/custom.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>W3Develops</title>
</head>

<body>
  <!-- NAVBAR STARTS HERE -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  		<a class="navbar-brand" href="#">#W3Develops</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
        			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      			</li>
      			<li class="nav-item dropdown">
        			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          			Community
        			</a>
        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Forum</a>
			          <a class="dropdown-item" href="#">Guide</a>
			          <a class="dropdown-item" href="#">Medium</a>
			          <a class="dropdown-item" href="#">YouTube</a>
			          <a class="dropdown-item" href="#">Gitter</a>
			          <a class="dropdown-item" href="#">In Your City</a>
				        <a class="dropdown-item" href="#">Contribute</a>
			          <a class="dropdown-item" href="#">About</a>
        			</div>
      			</li>
 	  			<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          		Map
        		</a>
        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Challenges</a>
			          <a class="dropdown-item" href="#">Hacker Games</a>
			          <a class="dropdown-item" href="#">Chingu Projects and 100 Days of Code</a>
			          <a class="dropdown-item" href="#">Build to Learn</a>
			          <a class="dropdown-item" href="#">Meetups</a>
        			</div>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="#">Donate</a>
      			</li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contributors</a>
            </li>
    		</ul>
    		<ul>
    			<button class = "btn btn-outline-success">Login</button>
    		</ul>
  		</div>
	</nav>