# -------------------------------------------------
# CODEOWNERS - For automated review request for
# high impact files.
#
# Important: The order in this file cascades.
#
# https://help.github.com/articles/about-codeowners
# -------------------------------------------------

# -------------------------------------------------
# All files except markdown are owned by w3develops core
# -------------------------------------------------

* @w3develops/w3develops-core
*.md

# -------------------------------------------------
# All files in the root are owned by w3develops x
# -------------------------------------------------

/* @w3develops/w3develops-x

# -------------------------------------------------
# All markdown files in the root are owned
# by Jonathan Jackson.
# He oversees the README, LICENSE, etc.
# -------------------------------------------------

/*.md @jondevops
