<!DOCTYPE html>
<html>
<head>
	<title>#W3Develops Login Page</title>
	<link rel="stylesheet" type="text/css" href="CSS/loginstyle.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class = "container">
		<h1> Welcome to the W3Develops Login Page</h1>
		<div class = "form-wrapper">
		<form action="/login" method="post">
			<div class = "form-group">
				<input class = "form-control" type = "text" placeholder = "username">
			</div>
			<div class = "form-group">
				<input class = "form-control" type = "password" placeholder = "password">
			</div>
			<div class = "checkbox">
				<label><input type="checkbox"> Remember me</label>
			</div>
			<button type = "submit" class = "btn btn-default">Submit</button>
			<p>Trouble signing in? Click <a href="#">Here</a></p>
		</form>
	</div>
	</div>

</body>
</html>
