<div id="Menubar">
    <ul>

        <li>
            <a class="active" href="Home">W3DEVELOPS🔥</a>
        </li>

           <li>
            <a href="Tutorials">Tutorials</a>
        </li>

           <li>
            <a href="Practice">Practice</a>
        </li>

           <li>
            <a href="Projects">Projects</a>
        </li>

        <li>
          <a href="#">More</a>
        </li>

        <li style="float:right">
        <a href="Login">Login</a>
        </li>

        <li>
  <li style="float:right">
          <a href="Search">
            <form>
              <input type="text" placeholder="Search..." maxlength="20" id="search"><input type="submit" value="go">
          </form>
          </a>
        </li>
    </ul>
  </div>

