<div id="Menubar">
	<a class="brand logo" href="{{ site.github.url }}/">W3DEVELOPS🔥</a>

    <ul>
		{% for item in site.pages%}
		{% if item.place == "menubar" %}
		<li class="{% if item.url == page.url %}active{% endif %}">
			<a href="{{ item.url | prepend: site.github.url }}">{{ item.title }}</a>
		</li>
		{% endif%}
		{% endfor%}
	</ul>

	<div style="float:right">
		<form action="#">
			<input type="text" placeholder="Search..." maxlength="20" id="search"><input type="submit" value="go">
		</form>
	</div>
</div>

