 <div id="Sidebar">
    <ul>
    <li><a href="#">Sign Up - It's free and always will be.</a></li>
    <li> <a href="#">Courses & Road Maps</a></li>
    <li> <a href="#">Web Technologies</a></li>
    <li><a href="#"> References & Guides</a></li>
    <li><a href="#">Jobs & Internships</a></li>
    <li><a href="#">Meetups</a></li>
      <li><a href="#">Our Team</a></li>
        <li><a href="#">Site Map</a></li>
<br><br><br><br>
    <li> <a href="#">Translating</a></li>
    <li><a href="#"> Promote W3D</a></li>
    <li> <a href="#">Contributing to the W3D codebase</a></li>
    <li> <a href="#">Feedback</a></li>
  </ul>
  </div>

