 <div id="Sidebar">
    <ul class="w3d-site" style="margin-bottom: 3em">
    <li><a href="#">Sign Up - It's free and always will be.</a></li>
    <li> <a href="#">Courses & Road Maps</a></li>
    <li> <a href="#">Web Technologies</a></li>
    <li><a href="#"> References & Guides</a></li>
    <li><a href="#">Jobs & Internships</a></li>
    <li><a href="#">Meetups</a></li>
      <li><a href="team.html">Our Team</a></li>
        <li><a href="sitemap.thml">Site Map</a></li>
    </ul>
    <ul class="w3d-org">
     <li> <a href="#">Translating</a></li>
     <li><a href="#"> Promote W3D</a></li>
     <li> <a href="#">Contributing to the W3D codebase</a></li>
     <li> <a href="feedback.html">Feedback</a></li>
  </ul>
  </div>

